/* Btns */

.btn__info {
     color: #939393;
     background: none;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     box-shadow: 1px 1px 2px #e5e7eb; 
}

.btn__reserva {
     color: white;
     background: rgb(8, 176, 8);
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     box-shadow: 1px 1px 2px #e5e7eb; 
     transition: .4s;
}

.btn__reserva:hover {
     background: rgb(19, 234, 19);
     color: #939393;
}

/* Home */

.home__logo {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.home__logo h2 {
     font-size: 30px;
     font-weight: bold;
}

.home__header {
     width: 100%;
     padding: 10px 40px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.home__header img {
     width: 100px;
}

.card__logo {
     width: 200px !important;
}

/* Cards */

.cards {
     width: 100%;
     display: flex;
     justify-content: center;
     gap: 50px;
     flex-wrap: wrap;
}

.card {
     padding: 20px 15px;
     max-width: 300px;
     border: 1px solid #e5e7eb;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 10px;
     border-radius: 10px;
     box-shadow: 1px 1px 2px #e5e7eb;
}

.card img {
     border-radius: 10px;
}

.hospedajes {
     width: 100%;
}

/* Search */

.search {
     width: 100%;
     padding: 30px;
     display: flex;
     justify-content: center;
}

.search input {
     width: 50%;
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     box-shadow: 1px 1px 2px #e5e7eb;
}

/* Pagination */

.pagination {
     padding: 40px 60px;
}

/* Modal */

.modal__title {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.modal__title i {
     font-size: 30px;
     cursor: pointer;
}

.modal__content {
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.modal__content img {
     border-radius: 10px;
}

.modal__content span {
     padding: 5px 10px;
     font-weight: bold;
     border-radius: 10px;
     border: 1px solid #e5e7eb;
     box-shadow: 1px 1px 2px #e5e7eb;
}

/* Calendar */

.calendar__container {
     width: 100%;
     padding: 20px 0px;
     display: flex;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
}

.calendar {
     background: white;
     padding: 30px;
     width: 100%;
     max-width: 800px;
     border-radius: 20px;
     border: 1px solid #e5e7eb;
     box-shadow: 1px 1px 2px #e5e7eb;
}

.date {
     padding: 30px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
}

.date__container {
     display: flex;
     gap: 40px;
}

.date__input {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
}